.tests/schemas/AppDeployToolkitConfig.schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AppDeployToolkit_Config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Config_File">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Config_Version" />
							<xs:element type="xs:string" name="Config_Date" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SetupCfg_Parameters">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Options">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="Byte01" name="DESKTOPSHORTCUT" />
										<xs:element type="xs:byte" name="SHOWBALLOONNOTIFICATIONS" />
										<xs:element type="Byte01" name="SOFTMIGRATION" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AskKillProcesses">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:short" name="TIMEOUT" />
										<xs:element type="xs:string" name="CONTINUETYPE" />
										<xs:element type="Byte01" name="USERCANCLOSEALL" />
										<xs:element type="Byte01" name="ALLOWABORTBYUSER" />
										<xs:element type="xs:short" name="DEFERDAYS" />
										<xs:element type="xs:short" name="DEFERTIMES" />
										<xs:element type="Byte01" name="TOPMOSTWINDOW" />
										<xs:element type="Byte01" name="MINIMIZEALLWINDOWS" />
										<xs:element type="Byte01" name="APPLYCONTINUETYPEONERROR" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NxtPowerShell_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NxtPowerShell_ExecutionPolicy">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="AllSigned" />
										<xs:enumeration value="Bypass" />
										<xs:enumeration value="RemoteSigned" />
										<xs:enumeration value="Restricted" />
										<xs:enumeration value="Undefined" />
										<xs:enumeration value="Unrestricted" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Toolkit_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:boolean" name="Toolkit_RequireAdmin" />
							<xs:element type="xs:string" name="Toolkit_TempPath" />
							<xs:element type="xs:string" name="Toolkit_RegPath" />
							<xs:element type="xs:string" name="Toolkit_LogPath" />
							<xs:element type="xs:string" name="Toolkit_TempPathNoAdminRights" />
							<xs:element type="xs:string" name="Toolkit_RegPathNoAdminRights" />
							<xs:element type="xs:string" name="Toolkit_LogPathNoAdminRights" />
							<xs:element type="xs:boolean" name="Toolkit_CompressLogs" />
							<xs:element name="Toolkit_LogStyle">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMTrace" />
										<xs:enumeration value="Legacy" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:boolean" name="Toolkit_LogDebugMessage" />
							<xs:element type="xs:boolean" name="Toolkit_LogWriteToHost" />
							<xs:element type="xs:boolean" name="Toolkit_LogAppend" />
							<xs:element type="xs:int" name="Toolkit_LogMaxSize" />
							<xs:element type="xs:int" name="Toolkit_LogMaxHistory" />
							<xs:element type="xs:boolean" name="Toolkit_UseRobocopy" />
							<xs:element type="xs:string" name="Toolkit_CachePath" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Toast_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:boolean" name="Toast_Disable" />
							<xs:element type="xs:string" name="Toast_AppName" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BannerIcon_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Icon_Filename" />
							<xs:element type="xs:string" name="LogoImage_Filename" />
							<xs:element type="xs:string" name="Banner_Filename" />
							<xs:element type="xs:string" name="Banner_Filename_Dark" />
							<xs:element type="xs:short" name="Banner_MaxHeight" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MSI_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="MSI_LoggingOptions" />
							<xs:element type="xs:string" name="MSI_LogPath" />
							<xs:element type="xs:string" name="MSI_LogPathNoAdminRights" />
							<xs:element type="xs:string" name="MSI_InstallParams" />
							<xs:element type="xs:string" name="MSI_SilentParams" />
							<xs:element type="xs:string" name="MSI_UninstallParams" />
							<xs:element type="xs:short" name="MSI_MutexWaitTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NxtInnoSetup_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="NxtInnoSetup_LogPath" />
							<xs:element type="xs:string" name="NxtInnoSetup_LogPathNoAdminRights" />
							<xs:element type="xs:string" name="NxtInnoSetup_InstallParams" />
							<xs:element type="xs:string" name="NxtInnoSetup_SilentParams" />
							<xs:element type="xs:string" name="NxtInnoSetup_UninstallParams" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NxtNullsoft_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="NxtNullsoft_InstallParams" />
							<xs:element type="xs:string" name="NxtNullsoft_SilentParams" />
							<xs:element type="xs:string" name="NxtNullsoft_UninstallParams" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NxtBitRockInstaller_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="NxtBitRockInstaller_InstallParams" />
							<xs:element type="xs:string" name="NxtBitRockInstaller_SilentParams" />
							<xs:element type="xs:string" name="NxtBitRockInstaller_UninstallParams" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UI_Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="InstallationUI_LanguageOverride" />
							<xs:element type="xs:boolean" name="ShowBalloonNotifications" />
							<xs:element type="xs:short" name="InstallationUI_Timeout" />
							<xs:element type="xs:short" name="InstallationUI_ExitCode" />
							<xs:element type="xs:int" name="InstallationDefer_ExitCode" />
							<xs:element type="xs:short" name="InstallationPrompt_PersistInterval" />
							<xs:element type="xs:short"
								name="InstallationRestartPrompt_PersistInterval" />
							<xs:element type="xs:short" name="InstallationPromptToSave_Timeout" />
							<xs:element type="xs:boolean"
								name="InstallationWelcomePrompt_DynamicRunningProcessEvaluation" />
							<xs:element type="xs:short"
								name="InstallationWelcomePrompt_DynamicRunningProcessEvaluationInterval" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="UI_Messages_Type" name="UI_Messages_EN" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_DA" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_FR" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_DE" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_IT" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_JA" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_NB" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_NL" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_PL" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_PT" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_PT-BR" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_ES" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_SV" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_AR" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_HE" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_KO" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_RU" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_ZH-Hans" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_ZH-Hant" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_SK" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_CZ" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_HU" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_FI" />
				<xs:element type="UI_Messages_Type" name="UI_Messages_TR" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- Reoccuring types defined below -->
	<xs:complexType name="UI_Messages_Type">
		<xs:sequence>
			<xs:element type="xs:string" name="DiskSpace_Message" />
			<xs:element type="xs:string" name="ClosePrompt_ButtonContinue" />
			<xs:element type="xs:string" name="ClosePrompt_ButtonContinueTooltip" />
			<xs:element type="xs:string" name="ClosePrompt_ButtonClose" />
			<xs:element type="xs:string" name="ClosePrompt_ButtonDefer" />
			<xs:element type="xs:string" name="ClosePrompt_Message" />
			<xs:element type="xs:string" name="ClosePrompt_CountdownMessage" />
			<xs:element type="xs:string" name="DeferPrompt_WelcomeMessage" />
			<xs:element type="xs:string" name="DeferPrompt_ExpiryMessage" />
			<xs:element type="xs:string" name="DeferPrompt_WarningMessage" />
			<xs:element type="xs:string" name="DeferPrompt_RemainingDeferrals" />
			<xs:element type="xs:string" name="DeferPrompt_Deadline" />
			<xs:element type="xs:string" name="WelcomePrompt_CountdownMessage" />
			<xs:element type="xs:string" name="WelcomePrompt_CustomMessage" />
			<xs:element type="xs:string" name="DeploymentType_Install" />
			<xs:element type="xs:string" name="DeploymentType_UnInstall" />
			<xs:element type="xs:string" name="DeploymentType_Repair" />
			<xs:element type="xs:string" name="BalloonText_Start" />
			<xs:element type="xs:string" name="BalloonText_Complete" />
			<xs:element type="xs:string" name="BalloonText_RestartRequired" />
			<xs:element type="xs:string" name="BalloonText_Error" />
			<xs:element type="xs:string" name="BalloonText_FastRetry" />
			<xs:element type="xs:string" name="Progress_MessageInstall" />
			<xs:element type="xs:string" name="Progress_MessageUninstall" />
			<xs:element type="xs:string" name="Progress_MessageRepair" />
			<xs:element type="xs:string" name="BlockExecution_Message" />
			<xs:element type="xs:string" name="RestartPrompt_Title" />
			<xs:element type="xs:string" name="RestartPrompt_Message" />
			<xs:element type="xs:string" name="RestartPrompt_MessageTime" />
			<xs:element type="xs:string" name="RestartPrompt_MessageRestart" />
			<xs:element type="xs:string" name="RestartPrompt_TimeRemaining" />
			<xs:element type="xs:string" name="RestartPrompt_ButtonRestartLater" />
			<xs:element type="xs:string" name="RestartPrompt_ButtonRestartNow" />
			<!-- Neo custom text -->
			<xs:element type="xs:string" name="DeploymentType_InstallVerb" minOccurs="0" />
			<xs:element type="xs:string" name="DeploymentType_UnInstallVerb" minOccurs="0" />
			<xs:element type="xs:string" name="DeploymentType_RepairVerb" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_FollowApplication" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_ApplicationClose" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_SaveWorkWithoutCloseButton" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_SaveWork" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_ApplicationName" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_StartedBy" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_ChooseDefer" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_RemainingDeferrals" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_DeferralExpired" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_CloseWithoutSaving_Abort" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_CloseWithoutSaving_Continue" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_CloseApplications" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_Close" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_Defer" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_PopUpCloseApplicationText" minOccurs="0" />
			<xs:element type="xs:string" name="NxtWelcomePrompt_PopUpSureToCloseText" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Byte01">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="1" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
